<%= content_for :head do %>
    <title>Our Services</title>
<% end %> 

<%= content_for :intro do %>
    <h1>Our services</h1>
    <h2>We have a Solution</h2>
<% end %>

<p>Find me in app/views/static/services.html.erb</p>


