<html>
    <head>
        <style>
            .cuerpo{
                margin-left:150px;
                margin-right:150px;
                background-color: #FF9E9D;
                font-size: 14px;
                font-family: verdana;
                padding: 20px;
            }
            h1{
                margin-left:150px;
                font-family:verdana;
                font-weight:bold;
                color:#FF0000;
            }
        </style>
    </head>
    <body>
    <h1>Acerca de Nosotros</h1>
    <div class=cuerpo>
    La Universidad Peruana de Ciencias Aplicadas (UPC) nació en 1994 como una institución basada en la creatividad e innovación que forme a los futuros protagonistas del cambio. Hoy, es la primera universidad global del Perú y cuenta con 39 carreras enmarcadas en las facultades de Administración en Hotelería y Turismo, Arquitectura, Artes Contemporáneas, Ciencias de la Salud, Ciencias Humanas, Comunicaciones, Derecho, Diseño, Economía, Educación, Negocios e Ingeniería.
    La UPC fue creada mediante Ley 26276, de fecha 5 de enero de 1994.
    En aplicación del artículo 7 de la Ley Universitaria (Ley 23733), en el período inicial de su funcionamiento, la Universidad estuvo regida por una Comisión Organizadora designada por su entidad promotora, la cual estuvo presidida por el Dr. Ernesto Bancalari Rodríguez.
    Con fecha 8 de noviembre de 1996 fue aprobada la Ley de Promoción de la Inversión en la Educación (Decreto Legislativo 882), que permite a las universidades privadas su adecuación a cualquiera de las modalidades organizativas previstas en el derecho común y en el régimen societario. El reglamento de dicha ley fue aprobado por el Decreto Supremo 001-98-ED de 9 de enero de 1998. El proceso de adecuación de la Universidad se inició, de acuerdo con la ley, presentando ante el CONAFU la solicitud correspondiente con fecha 11 de setiembre de 1998.
    El 3 de marzo de 1999, este organismo emitió la Resolución 527-99 declarando arreglada a ley dicha solicitud. Mediante acuerdo adoptado por su entidad promotora, protocolizado a través de la Escritura Pública de fecha 31 de mayo de 1999, se formalizó la transformación de la universidad al nuevo régimen legal. Con fecha 2 de julio de 1999, el Conafu emitió la Resolución 571-99 que declaró concluido el proceso de adecuación de la universidad al régimen establecido por la Ley de Promoción de la Inversión en la Educación y por la Ley General de Sociedades. Finalmente, con fecha 26 de agosto de 1999, la transformación de la universidad quedó inscrita en el Registro de Personas Jurídicas de los Registros Públicos de Lima, con lo que se encontraba expedita para iniciar sus actividades bajo el nuevo régimen organizativo.A partir del 1 de diciembre de 1999 la Comisión Organizadora cesó en sus funciones y, de acuerdo a los artículos 28º y 54º del estatuto de la universidad, la Junta General procedió al nombramiento de sus autoridades académicas. Estas fueron investidas el 21 de diciembre de 1999. (Ceremonia de Investidura)
    Desde setiembre de 2004, la UPC forma parte de Laureate International Universities, la red de universidades privadas más importante del mundo.
    </div>   
    </body>
</html>