<html>
    <head>
        <style>
            .cuerpo{
                margin-left:150px;
                margin-right:150px;
                background-color: #FF9E9D;
                font-size: 14px;
                font-family: verdana;
                padding: 20px;
            }
            h1{
                margin-left:150px;
                font-family:verdana;
                font-weight:bold;
                color:#FF0000;
            }
        </style>
    </head>
    <body>
    <h1>Visión, Misión y Valores</h1>
    <div class=cuerpo>
    <h3>Visión</h3>
    Ser líder en la educación superior por su excelencia académica y su capacidad de innovación
    
    <h3>Misión</h3>
    Formar líderes íntegros e innovadores con visión global para que transformen el Perú
    
    <h3>Valores:</h3>
    <li>Innovación</li>
    <li>Liderazgo</li>
    <li>Trabajo en equipo</li>
    <li>Servicio</li>
    <li>Excelencia</li>
    <br>
    
    La Universidad Peruana de Ciencias Aplicadas es una institución educativa de carácter privado e independiente. Fue creada por Ley 26276 del 5 de enero de 1994.
    Está vinculada a un grupo de profesionales y empresarios con amplia experiencia en el campo de la educación, lo cual ha convocado a otras muchas personalidades del medio académico y cultural del país a colaborar directamente con esta propuesta educativa.
    La UPC es una institución innovadora basada en principios, que educa, investiga y promueve el conocimiento, la cultura y el desarrollo. Sus funciones las cumple con calidad, modernidad, eficiencia y competitividad a nivel internacional.
    </div>   
    </body>
</html>