<html>
    <head>
        <style>
            .cuerpo{
                margin-left:150px;
                margin-right:150px;
                background-color: #FF9E9D;
                font-size: 14px;
                font-family: verdana;
                padding: 20px;
            }
            h1{
                margin-left:150px;
                font-family:verdana;
                font-weight:bold;
                color:#FF0000;
            }
        </style>
    </head>
    <body>
    <h1>Modelo Educativo</h1>
    <div class=cuerpo>
    El Modelo Educativo de la UPC se orienta a la formación de sus alumnos como profesionales competentes y líderes íntegros, a través de una educación que los prepara en la aplicación del conocimiento, en el ejercicio de su reflexión y en la toma de conciencia crítica frente a sus acciones y decisiones.
    Ello implica integrar conocimientos, habilidades y actitudes no solo en su práctica profesional sino también en su formación personal.
    Esta formación se fundamenta en los principios filosóficos de la universidad, de los cuales se desprenden metas que pasan a constituirse en sus competencias generales. Éstas son: orientación al logro, comunicación, pensamiento crítico, ciudadanía, creatividad, sentido ético y espíritu empresarial.
    </div>   
    </body>
</html>