<html>
    <head>
        <style>
            .cuerpo{
                margin-left:150px;
                margin-right:150px;
                background-color: #FF9E9D;
                font-size: 14px;
                font-family: verdana;
                padding: 20px;
            }
            h1{
                margin-left:150px;
                font-family:verdana;
                font-weight:bold;
                color:#FF0000;
            }
        </style>
    </head>
    <body>
    <h1>Liderazgo</h1>
    <div class=cuerpo>
    Dado que la misión de la UPC es formar líderes íntegros e innovadores que impulsen la creación de una nueva realidad, uno de los pilares más importantes para lograr este objetivo es el desarrollo de habilidades de liderazgo personal y empresarial en sus alumnos.
    El concepto de liderazgo que maneja la UPC plantea el desarrollo en sus alumnos de habilidades intrapersonales, referidas al autoconocimiento y a la reflexión acerca de uno mismo; interpersonales, referidas a la relación  que establecen con las personas de su entorno; y gerenciales, que abarcan las competencias que debe tener todo profesional para dirigir un equipo y una empresa.
    El principal compromiso de la UPC es formar profesionales que sean líderes íntegros, altamente calificados y comprometidos con su realidad. Una realidad en constante cambio, que impone nuevos escenarios y que demanda al egresado tanto conocimientos teóricos como habilidades concretas para la resolución de problemas de manera eficiente y práctica. Los cursos y talleres de liderazgo que se imparten en todas las carreras de la UPC garantizan el desarrollo de las habilidades necesarias para cumplir estos ambiciosos objetivos.
    </div>   
    </body>
</html>