<html>
    <head>
        <style>
            .cuerpo{
                margin-left:150px;
                margin-right:150px;
                background-color: #FF9E9D;
                font-size: 14px;
                font-family: verdana;
                padding: 20px;
            }
            h1{
                margin-left:150px;
                font-family:verdana;
                font-weight:bold;
                color:#FF0000;
            }
        </style>
    </head>
    <body>
    <h1>UPC</h1>
    <div class=cuerpo>
        <h3>La UPC hace historia en el país</h3>
    La Universidad Peruana de Ciencias Aplicadas (UPC) se creó en el año 1994. Pocos meses después se realizó la ceremonia de colocación de la primera piedra de nuestra sede en Monterrico.
    En setiembre de ese mismo año se inauguró el primer año académico, iniciando clases los alumnos de las Facultades de Ingeniería, Arquitectura y Ciencias de la Comunicación.
    Al año siguiente, en 1995, revolucionamos el sector de educación superior del país al presentar el innovador sistema de admisión “Selección Preferente”, dirigido a los egresados de secundaria del tercio superior.
    En 1996 se creó la Facultad de Estudios de la Empresa, ahora Facultad de Negocios; la cual se ha posicionado como una de las principales escuelas de negocios de nuestro país.
    Ese mismo año innovamos el mundo empresarial con el primer concurso “Creatividad Empresarial”, hoy considerado como el premio más importante para los empresarios del Perú con XVIII ediciones.
    Asimismo, adelántanos a las necesidades del mercado, fuimos los pioneros en crear en nuestro país el programa de pregrado para adultos, hoy denominado EPE (División de Estudios Profesionales para Ejecutivos).
    En 1997 se creó la Escuela de Postgrado con un enfoque innovador basado en la gestión, lo que nos convierte en la primera institución educativa que apostó por la especialización en postgrado.
    El el año 1998 se creó la Facultad de Derecho y, en el 2000, la Facultad de Economía.
    Desde el año 2004, pertenecemos a la Red Laureate International Universities, que brinda a nuestros alumnos la oportunidad de estudiar en instituciones superiores de excelencia de todo el mundo, y nos permite formar profesionales preparados a nivel internacional. Son miembros honorarios de esta exclusiva red personalidades como Bill Clinton, Tony Blair, Al Gore, entre otros nombres ilustres. La Red Laureate International Universities agrupa a más 75 instituciones en 29 países, y más de 900 mil estudiantes forman parte de ella.
    En el 2006 se crean las Facultades de Ciencias de la Salud, Ciencias Humanas, y la Facultad de Administración en Hotelería y Turismo.
    En el año 2010 recibimos a la primera promoción de alumnos de la Escuela de Música, como parte de la nueva Facultad de Artes Contemporáneas, quienes serán los primeros músicos profesionales formados en el Perú.
    Asimismo, en el 2011 se creó la Facultad de Diseño, donde se encuentran las carreras de Diseño Profesional Gráfico, Diseño Profesional de Interiores, y la única carrera de moda a nivel universitario, Diseño y Gestión en Moda.
    En el año 2012 iniciamos nuestras clases descentralizadas de Pregrado en el Campus San Isidro y en el 2013 en nuestro Campus Villa. De esta manera logramos impactar a un mayor número de jóvenes en diferentes zonas de la capital.
    Actualmente, la UPC cuenta con más de 13 mil egresados.
    Como se puede apreciar a lo largo de nuestra historia, la innovación siempre ha formado parte de nuestro ADN como institución y continuaremos revolucionando el sector de educación superior del país. 
    </div>   
    </body>
</html>

